html, body {

  min-height: 100%;
  }
  body, div, form, input, select, p { 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, verdana, sans-serif;
  font-size: 16px;
  
  }
 input
 {
   color:rgb(26, 25, 23);
 }
 
  h2{
    color:rgb(6, 10, 20);
  }
  form {
    width:1024px;
    height:auto;
    margin: auto;
    padding: 25px;
  background: rgba(226, 85, 85, 0.7); 
  }
  .title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  }
  .info {
  display: flex;
  flex-direction: column;
  }
  input, select {
  padding: 5px;
  margin-bottom: 30px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #eee;
  }
  
  option:focus {
  border: none;
  }
  option {
  border: none;
  }
  .checkbox input {
  margin: 0 10px 0 0;
  vertical-align: middle;
  }
  .checkbox a {
  color: #26a9e0;
  }
  .checkbox a:hover {
  color: #85d6de;
  }
  .btn-item, button {
  padding: 10px 5px;
  margin-top: 20px;
  border-radius: 5px; 
  border: none;
  background: #26a9e0; 
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  }
  .btn-item {
  display: inline-block;
  margin: 20px 5px 0;
  text-align: center;
  }
  button {
  width: 45%;
  margin:20px;
  display: inline;
  }
  button:hover, .btn-item:hover {
  background: #85d6de;
  }
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid rgb(7, 7, 7);
    padding: 8px;
  }
  td
  {
    color:rgb(7, 7, 7) !important;
  }
  #customers tr:nth-child(even){background-color: #929292;}
  
  
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #85d6de;
    color: white;
  }
  button.resultBtn
  {
    width: 24%;
  }